[submodule "go/src/golang.org/x/net"]
	path = go/src/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "go/src/github.com/spf13/cobra"]
	path = go/src/github.com/spf13/cobra
	url = https://github.com/spf13/cobra.git
[submodule "go/src/github.com/spf13/pflag"]
	path = go/src/github.com/spf13/pflag
	url = https://github.com/spf13/pflag.git
[submodule "go/src/github.com/gorilla/websocket"]
	path = go/src/github.com/gorilla/websocket
	url = https://github.com/gorilla/websocket
[submodule "cpp/uwebsockets/vendor/uWebSockets"]
	path = cpp/uwebsockets/vendor/uWebSockets
	url = https://github.com/uWebSockets/uWebSockets.git
