[
  {sasl, [{sasl_error_logger, false}]},
  {lager, [
    {handlers, [
      {lager_console_backend, error}
    ]},
    {crash_log, "log/crash.log"},
    {crash_log_msg_size, 65536},
    {crash_log_size, 10485760},
    {crash_log_date, "$D0"},
    {crash_log_count, 5},
    {error_logger_redirect, true}
  ]},
  {
    deliverly, [
      {http_port, 3334}
    ]
  }
].
