%% -*- mode: Erlang; -*-
{require_otp_vsn, "18"}.
{deps, [
  {deliverly, {git, "https://github.com/deliverly/deliverly-core.git", {tag, "0.0.6"}}},
  lager
]}.

{profiles, [
  {prod, [
    {erl_opts, [no_debug_info, warn_unused_vars, warnings_as_errors]},
    {relx, [{dev_mode, false}, {include_erts, true}]}
  ]},
  {test, [
    {deps, [meck, eunit_formatters]},
    {erl_opts, [debug_info]}
  ]}  
]}.

{relx, [
  {release, { ws_shootout, "0.0.1"}, [ws_shootout]},
  {dev_mode, true},
  {include_erts, false},
  {extended_start_script, true},
  {sys_config, "files/app.config"}
]}.

{erl_opts, [debug_info, {i, "apps"}, {parse_transform, lager_transform}]}.

{cover_enabled, true}.

{eunit_opts, [
  no_tty,
  {report, {eunit_progress, [colored, profile]}}
]}.

{shell, [{config, "files/app.config"}]}.

{clean_files, ["*.eunit", "ebin/*.beam", "specs/*.beam", "specs/logs/*"]}.

{ct_opts, [
  {dir, "specs"},
  {logdir, "specs/logs"},
  {config, "specs/test.config"}
]}.
